<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Qt开发的小工具合集</Name>
    <Version>1.0.3</Version>
    <Title>工具安装</Title>
    <Publisher>hybtalented@163.com</Publisher>
    <StartMenuDir>hybtalented</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>@ApplicationsDir@/hybtalented</TargetDir>
    <MaintenanceToolName>更新(卸载)</MaintenanceToolName>
    <ControlScript>controller.qs</ControlScript>
</Installer>